{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template qtype_coderunner/scratchpad

    Example context (json):
    {
        "id": "question:12",
        "answer_code": {
            "id": "question:12_answer-code",
            "rows": 16,
            "name": "answer_code",
            "lang": "C"
        },
        "test_code": {
            "id": "question:12_test-code",
            "rows": 4,
            "name": "test_code",
            "lang": "C"
        },
        "prefix_ans": {
            "id": "question:12_prefix-ans",
            "checked": true
        },
        "output_display": {
            "id": "question:12",
            "text": "hello world"
        }
    }
}}
<div style='min-height:100%' class='qtype-coderunner-sp-outer-div'>
    {{# answer_code }}{{> qtype_coderunner/answer_textarea }}{{/ answer_code }}
    {{^ disable_scratchpad }}{{> qtype_coderunner/scratchpad }}{{/ disable_scratchpad }}
</div>
